<div class="flex flex-col items-center justify-center w-full mb-5 gap-y-4 mt-14">
    <h2 class="text-3xl text-orange-400 uppercase">Agregar Empleado</h2>
    <div class="flex items-center justify-center w-full gap-5">
        <div class="flex items-center justify-center w-full">
            <img
                src="../../../assets/imgs/add-user.jpg"
                class="w-[400px] rounded-lg"
                alt="ilustracion grafica agregar usuario">
        </div>
        <div class="w-full">
            <form [formGroup]="employeeForm">
                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="nombre"
                        formControlName="name"
                        class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer placeholder:text-orange-400"
                        placeholder="Nombre"
                        autocomplete="off"
                        required
                    />
                    <label for="nombre" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Nombre</label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <select formControlName="genre" name="genero" class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer" required>
                        <option *ngFor="let genre of genres" [value]="genre" class="bg-slate-950">{{ genre }}</option>
                    </select>
                    <label for="Género" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Género</label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="date"
                        name="fecha-ingreso"
                        formControlName="dateEntry"
                        class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer placeholder:text-orange-400/50"
                        placeholder="Fecha de ingreso"
                        autocomplete="off"
                        required
                    />
                    <label for="fecha-ingreso" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Fecha de ingreso</label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="email"
                        name="email"
                        formControlName="email"
                        class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer placeholder:text-orange-400"
                        placeholder="Email"
                        autocomplete="off"
                        required
                    />
                    <label for="email" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <input
                        type="text"
                        name="telefono"
                        formControlName="phone"
                        class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer placeholder:text-orange-400"
                        placeholder="Teléfono"
                        autocomplete="off"
                        required
                    />
                    <label for="telefono" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Teléfono</label>
                </div>

                <div class="relative z-0 w-full mb-6 group">
                    <select
                        name="matrial-status"
                        formControlName="matrialStatus"
                        class="block py-2.5 px-0 w-full text-lg bg-transparent text-orange-400 border-0 border-b-2 appearance-nonetext-white border-gray-600 focus:border-orange-400 focus:outline-none focus:ring-0 peer"
                        required
                    >
                        <option *ngFor="let status of maritalStatus" [value]="status" class="bg-slate-950">{{status}}</option>
                    </select>
                    <label for="Género" class="peer-focus:font-medium absolute text-smtext-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-orange-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Estado cívil</label>
                </div>
                <div class="flex w-full gap-x-8">
                    <button
                        (click)="saveEmployee()"
                        class="w-full py-2 font-semibold tracking-wide text-white uppercase bg-orange-500 rounded-lg shadow-md hover:bg-orange-600 shadow-orange-500"
                    >Guardar</button>
                    <button
                        routerLink="/"
                        class="w-full py-2 font-semibold tracking-wide text-white uppercase bg-orange-600 rounded-lg shadow-md hover:bg-orange-700 shadow-orange-700"
                    >Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>